<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setembrão</title>
</head>
<body>
    <h1>Setembrão amarelo | Valorize sua vida</h1>
    <hr>

    <p>Setembro Amarelo é uma campanha brasileira de prevenção ao suicídio, iniciada em 2015. O mês de setembro foi escolhido para a campanha porque, desde 2003, o dia 10 de setembro é o Dia Mundial de Prevenção do Suicídio.</p>

    <p>Toda morte por suicídio é devastadora</p>

    <section>
        <article>
            <h3>Ações setembro amarelo</h3>
        <p>
            Fique por dentro das atividades do CVV e da Campanha Setembro Amarelo em todo o Brasil.
            <a href="">Saiba Mais</a>
        </p>
        </article>

        <article>
            <h3>Centro de valorização da vida – cvv</h3>
        <p>
            O CVV é uma das ONGs mais antigas do país. Fundado em São Paulo em 1962, atua no apoio emocional e na prevenção do suicídio pelo telefone 188, e também por chat, e-mail e pessoalmente.
        </p>
        </article>
        
        <article>
            <h3>Prevenção do suicídio</h3>
            <p>
                Segundo estudo da Unicamp, 17% dos brasileiros, em algum momento, já pensaram em dar um fim à própria vida e, desses, 4,8% chegaram a elaborar um plano. Em muitos casos, é possível prevenir para que esses pensamentos suicidas não se tornem realidade.
            </p>
        </article>
    </section>

    
</body>
</html>